@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:200,300,400,500,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans Caption', sans-serif;
	scroll-behavior: smooth;

}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header.sticky {
	background: #fff;
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

}

header .logo {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}

header.sticky .logo {
	color: #111;

}

header.sticky ul li a {
	color: #111;

}

header ul {
	position: relative;
	display: flex;
	list-style-type: none;

}

header ul li {
	position: relative;
	list-style: none;

}

header ul li a {
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;

}

li a,
.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}



li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.counter-up {
	min-height: 10vh;
	background-size: cover;
	background-attachment: fixed;
	padding: 0px 100px 100px;
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.counter-up::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.counter-up .content {
	z-index: 1;
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.counter-up .content .box {
	width: calc(25% - 30px);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 20px;
}

.content .box .icon {
	font-size: 48px;
	color: #000;
}

.content .box .counter {
	font-size: 50px;
	font-weight: 500;
	color: #000;
	font-family: sans-serif;
}

.content .box .text {
	font-weight: 400;
	color: #000;
}

section {
	padding: 100px;
}

.banner {
	position: relative;
	min-height: 100vh;
	background: url(../img/16_9x1080.jpg);
	/* background-size: cover; */
	/* background-position: right; */
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.banner h2 {
	font-size: 3em;
	color: #fff;
	font-weight: 500;
	line-height: 1.5em;
}

.banner h2 span {
	font-size: 1.5em;
	font-weight: 700;
}

.banner h3 {
	font-size: 1em;
	color: #fff;
	font-weight: 500;
}

.btn {
	position: relative;
	background: #2196f3;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;

}

.heading {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;


}

.heading h2 {
	font-weight: 600;
	font-size: 30px;

}

.content {
	display: flex;
	justify-content: space-between;

}

.contentBx {
	padding-right: 30px;
}

.contentBx h3 {
	font-size: 24px;
	margin-bottom: 10px;

}



.w50 {
	min-width: 50%;
	margin-left: 30px;
}

img {
	max-width: 100%;

}

.services {
	background: #111;
}

.heading.white {
	color: #fff;

}

.services .content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;

}

.services .content .servicesBx {
	padding: 40px 20px;
	background: #222;
	color: #fff;
	max-width: 340px;
	margin: 20px;
	text-align: center;
	transition: 0.5s;

}

.services .content .servicesBx:hover {
	background: #2196f3;

}

.services .content .servicesBx img {
	max-width: 80px;
	filter: invert(1);

}

.services .content .servicesBx h2 {
	font-size: 20px;
	font-weight: 600;

}

.work .content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.work .content .workBx {
	width: 50%;
	padding: 20px;

}

.work .content .workBx img {
	max-width: 100%;

}

.team {
	background: #f7f7f7;

}

.team .content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;


}

.team .content .teamBx {
	max-width: calc(50% - 40px);
	padding: 60px 40px;
	margin: 20px;
	background: #2196f3;
}

.team .content .teamBx p {
	color: #fff;
	font-style: italic;
	font-size: 16px;
	font-weight: 300;

}

.team .content .teamBx h3 {
	margin-top: 40px;
	text-align: end;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	line-height: 1em;

}

.team .content .teamBx h3 span {
	font-size: 14px;
	font-weight: 400;
}

.contact {
	background: #111;

}

.formBx {
	min-width: 60%;

}

.formBx form {
	display: flex;
	flex-direction: column;

}

.formBx form h3,
.contactInfo h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: none;
	background: #222;
	color: #fff;
	resize: none;

}

.formBx form textarea {
	min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
	color: #999;
}

.formBx form input[type="sumbit"] {
	max-width: 100px;
	background: #2196f3;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;

}

.contactInfo {
	min-width: 40%;

}

.contactInfoBx {
	position: relative;

}

.contactInfoBx .box {
	position: relative;
	padding: 20px 0;
	display: flex;

}

.contactInfoBx .box .icon {
	min-width: 40px;
	padding-top: 4px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 24px;

}

.contactInfoBx .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;

}

.contactInfoBx .box .text h3 {
	font-weight: 500;
	color: #2196f3;
	margin-bottom: 0;
}

.copyright {
	background: #000;
	color: #fff;
	text-align: center;
	padding: 10px;

}

/** Responssive **/

@media (max-width: 991px) {

	header,
	header.sticky {
		padding: 20px 50px;
		z-index: 1000;
	}

	.menu {
		position: fixed;
		top: 75px;
		left: -100%;
		display: block;
		padding: 100px 50px;
		text-align: center;
		width: 100%;
		height: 100vh;
		background: #fff;
		transition: 0.5s;
		z-index: 999;
		border-top: 1px solid rgba(0, 0, 0, 0.2);


	}

	header ul li a {
		color: #111;
		font-size: 24px;
		margin: 10px;

	}

	.toggle {
		width: 40px;
		height: 40px;
		background: url(../icons/menu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;

	}

	.toggle.active {
		width: 40px;
		height: 40px;
		background: url(../icons/close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 25px;

	}

	header.sticky .toggle {
		filter: invert(1)
	}

	section {
		padding: 100px 50px;
	}

	.banner {
		padding: 150px 50px 100px;

	}

	.banner h2 {
		font-size: 1.5em;

	}

	.banner h3 {
		font-size: 1em;
	}

	.btn {
		margin-top: 10px;
		padding: 10px 20px;
		font-size: 16px;
	}

	.heading h2 {
		font-size: 24px;

	}

	.heading h3 {
		font-size: 20px;
	}

	.content {
		flex-direction: column;

	}

	.w50 {
		margin-bottom: 20px;
	}

	.services .content .servicesBx {
		margin: 10px;

	}

	.work .content .workBx {
		width: 100%;
		padding: 10px;
	}

	.team .content .teamBx {
		max-width: calc(100% - 20px);
		padding: 40px 20px;
		margin: 10px;
		background: #2196f3;
	}

	.team .content .teamBx {
		margin-top: 20px;
	}

	.contactInfo {
		min-width: 40%;
		margin: 20px 0;

	}
}




.menu.active {
	left: 0;
}


@media (max-width: 600px) {

	header,
	header.sticky {
		padding: 20px 20px;

	}



	.banner {
		padding: 150px 20px 100px;
	}

	section {
		padding: 100px 20px;
	}
}